<div class="profile">
  <div class="login">
    <span>
      {{svc.login}}
    </span>
    <button mat-raised-button color="primary">Выйти</button>
  </div>
  <div class="button">
    <button (click)="mode = !mode" mat-button>Сменить пароль</button>
  </div>
  <div class="password" *ngIf="mode">
    <mat-form-field class="input" appearance="outline">
      <mat-label>Новый пароль</mat-label>
      <input matInput type="password" placeholder="Новый пароль">
    </mat-form-field>
    <button class="accept" mat-raised-button color="primary">Сменить</button>
  </div>
</div>
